{% include 'overall_header.html' %}

<a name="maincontent"></a>

<h1>{{ lang('ACP_FORUMBANNER_IMAGES') }}</h1>

<p>{{ lang('ACP_FORUMBANNER_IMAGES_EXPLAIN') }}</p>

{% if S_ERROR %}
	<div class="errorbox">
		<h3>{L_WARNING}</h3>
		<p>{ERROR_MSG}</p>
	</div>
{% endif %}

<form id="acp_forumbanners" method="post" action="{{ U_ACTION }}"{{ S_FORM_ENCTYPE }}>
<fieldset>
	<legend>{{ lang('FORUMBANNER_LIST') }}</legend>

	<table class="table1">
		<col class="row1"><col class="row1">
	<thead>
		<tr>
			<th>{{ lang('FORUMBANNER') }}</th>
			<th style="text-align: center; width: 5%;">{L_DELETE}</th>
		</tr>
	</thead>
	<tbody>
	{% for forumbanner in forumbanners %}
		<tr>
			<td class="row{% if forumbanner.S_ROW_COUNT is odd %}3{% else %}1{% endif %}"><b>{{ forumbanner.FORUM_NAME }}</b><hr><img src="{{ forumbanner.FORUMBANNER_SRC }}"></td>
			<td class="row{% if forumbanner.S_ROW_COUNT is odd %}3{% else %}1{% endif %}" style="text-align: center;"><input type="checkbox" class="radio" name="delete_banner[]" value="{{ forumbanner.FORUM_ID }}"></td>
		</tr>
	{% else %}
		<tr>
			<td class="row3" colspan="2"><strong>{{ lang('FORUMBANNER_NONE_AVAILABLE') }}</strong></td>
		</tr>
	{% endfor %}
	</tbody>
	</table>

	{% if forumbanners %}
	<p class="submit-buttons">
		<input class="button1" type="submit" id="delete" name="delete" value="{{ lang('DELETE') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
	</p>
	{% endif %}
</fieldset>
<fieldset>
	<legend>{{ lang('FORUMBANNER_UPLOAD') }}</legend>

	<dl>
		<dt><label for="forumbanner_forum_list">{{ lang('FORUMBANNER_FORUM') ~ lang('COLON') }}</label><br /><span>{{ lang('FORUMBANNER_FORUM_EXPLAIN') }}</span></dt>
		<dd>
			<select name="forumbanner_forum_list" id="forumbanner_forum_list">
				{{ S_FORUM_BOX }}
			</select>
		</dd>
	</dl>
	<dl style="text-align: center;">
		<input type="file" name="upload_banner" id="upload_banner" class="inputbox" style="width: 95%;">
	</dl>
	<p class="submit-buttons">
		<input class="button1" type="submit" id="upload" name="upload" value="{{ lang('FORUMBANNER_UPLOAD_BUTTON') }}">
	</p>
</fieldset>
{{ S_FORM_TOKEN }}
</form>

{% include 'overall_footer.html' %}
