{% include 'overall_header.html' %}

<h1>{{ lang('SETTINGS') }}</h1>

{% if ERROR_MESSAGE %}
<div class="errorbox">
	<h3>{{ lang('WARNING') }}</h3>
	<p>{{ ERROR_MESSAGE }}</p>
</div>
{% endif %}

<form id="settings" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('ACP_GROUPSUB_SETTINGS_STRIPE') }}</legend>
		<dl>
			<dt><label for="active">{{ lang('ACP_GROUPSUB_ACTIVE') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_GROUPSUB_ACTIVE_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" id="active" name="active" value="1"{% if ACTIVE %} checked{% endif %}> {{ lang('YES') }}</label><label><input type="radio" name="active" value="0"{% if not ACTIVE %} checked{% endif %}> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt>{{ lang('ACP_GROUPSUB_STRIPE_SECRETS') ~ lang('COLON') }}<br><span>{{ lang('ACP_GROUPSUB_STRIPE_SECRETS_EXPLAIN') }}</span></dt>
			<dd>{% if S_STRIPE_CONFIGURED %}<strong style="color: #228822">{{ lang('ACP_GROUPSUB_STRIPE_CONFIGURED') }}</strong>{% else %}<strong style="color: #cc0000">{{ lang('ACP_GROUPSUB_STRIPE_NOT_CONFIGURED') }}</strong>{% endif %}</dd>
		</dl>
		<dl>
			<dt><label for="stripe_secret_key">{{ lang('ACP_GROUPSUB_STRIPE_SECRET_KEY') ~ lang('COLON') }}</label></dt>
			<dd><input class="text medium" type="password" id="stripe_secret_key" name="stripe_secret_key" value="" autocomplete="new-password" spellcheck="false"></dd>
			<dd><span>{% if S_STRIPE_SECRET_KEY_SET %}{{ lang('ACP_GROUPSUB_STRIPE_SECRET_SAVED') }}{% else %}{{ lang('ACP_GROUPSUB_STRIPE_SECRET_NOT_SAVED') }}{% endif %}</span></dd>
		</dl>
		<dl>
			<dt><label for="stripe_webhook_secret">{{ lang('ACP_GROUPSUB_STRIPE_WEBHOOK_SECRET') ~ lang('COLON') }}</label></dt>
			<dd><input class="text medium" type="password" id="stripe_webhook_secret" name="stripe_webhook_secret" value="" autocomplete="new-password" spellcheck="false"></dd>
			<dd><span>{% if S_STRIPE_WEBHOOK_SECRET_SET %}{{ lang('ACP_GROUPSUB_STRIPE_SECRET_SAVED') }}{% else %}{{ lang('ACP_GROUPSUB_STRIPE_SECRET_NOT_SAVED') }}{% endif %}</span></dd>
		</dl>
		<dl>
			<dt>{{ lang('ACP_GROUPSUB_STRIPE_MODE') ~ lang('COLON') }}</dt>
			<dd>{% if not S_STRIPE_CONFIGURED %}&mdash;{% elseif S_STRIPE_TEST_MODE %}{{ lang('ACP_GROUPSUB_STRIPE_TEST') }}{% else %}{{ lang('ACP_GROUPSUB_STRIPE_LIVE') }}{% endif %}</dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('ACP_GROUPSUB_SETTINGS_GENERAL') }}</legend>
		<dl>
			<dt><label for="notify_admins">{{ lang('ACP_GROUPSUB_NOTIFY_ADMINS') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_GROUPSUB_NOTIFY_ADMINS_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" id="notify_admins" name="notify_admins" value="1"{% if NOTIFY_ADMINS %} checked{% endif %}> {{ lang('YES') }}</label><label><input type="radio" name="notify_admins" value="0"{% if not NOTIFY_ADMINS %} checked{% endif %}> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="header">{{ lang('ACP_GROUPSUB_HEADER') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_GROUPSUB_HEADER_EXPLAIN') }}</span></dt>
			<dd><textarea id="header" name="header" rows="5" cols="45" data-bbcode="true">{{ HEADER }}</textarea></dd>
			<dd>
				<label><input type="checkbox" class="radio" name="header_bbcode"{% if S_HEADER_BBCODE_CHECKED %} checked{% endif %}> {{ lang('PARSE_BBCODE') }}</label>
				<label><input type="checkbox" class="radio" name="header_smilies"{% if S_HEADER_SMILIES_CHECKED %} checked{% endif %}> {{ lang('PARSE_SMILIES') }}</label>
				<label><input type="checkbox" class="radio" name="header_magic_url"{% if S_HEADER_MAGIC_URL_CHECKED %} checked{% endif %}> {{ lang('PARSE_URLS') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="footer">{{ lang('ACP_GROUPSUB_FOOTER') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_GROUPSUB_FOOTER_EXPLAIN') }}</span></dt>
			<dd><textarea id="footer" name="footer" rows="5" cols="45" data-bbcode="true">{{ FOOTER }}</textarea></dd>
			<dd>
				<label><input type="checkbox" class="radio" name="footer_bbcode"{% if S_FOOTER_BBCODE_CHECKED %} checked{% endif %}> {{ lang('PARSE_BBCODE') }}</label>
				<label><input type="checkbox" class="radio" name="footer_smilies"{% if S_FOOTER_SMILIES_CHECKED %} checked{% endif %}> {{ lang('PARSE_SMILIES') }}</label>
				<label><input type="checkbox" class="radio" name="footer_magic_url"{% if S_FOOTER_MAGIC_URL_CHECKED %} checked{% endif %}> {{ lang('PARSE_URLS') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label for="collapse_terms">{{ lang('ACP_GROUPSUB_COLLAPSE_TERMS') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_GROUPSUB_COLLAPSE_TERMS_EXPLAIN') }}</span></dt>
			<dd><input class="text" type="number" id="collapse_terms" name="collapse_terms" size="4" min="2" value="{{ COLLAPSE_TERMS }}"></dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('ACP_GROUPSUB_SETTINGS_DEFAULTS') }}</legend>
		<dl>
			<dt><label for="currency">{{ lang('ACP_GROUPSUB_DEFAULT_CURRENCY') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_GROUPSUB_DEFAULT_CURRENCY_EXPLAIN') }}</span></dt>
			<dd>
				<select name="currency" id="currency">
					{% for c in currency %}
						<option value="{{ c.CURRENCY }}"{% if c.CURRENCY == CURRENCY %} selected{% endif %}>{{ c.CURRENCY }} ({{ c.SYMBOL }})</option>
					{% endfor %}
				</select>
			</dd>
		</dl>
		<dl>
			<dt><label for="warn_time">{{ lang('ACP_GROUPSUB_WARN_TIME') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_GROUPSUB_WARN_TIME_EXPLAIN') }}</span></dt>
			<dd><input class="text" type="number" id="warn_time" name="warn_time" size="4" min="0" value="{{ WARN_TIME }}">&nbsp;{{ lang('GROUPSUB_DAYS') }}</dd>
		</dl>
		<dl>
			<dt><label for="grace">{{ lang('ACP_GROUPSUB_GRACE') ~ lang('COLON') }}</label><br><span>{{ lang('ACP_GROUPSUB_GRACE_EXPLAIN') }}</span></dt>
			<dd><input class="text" type="number" id="grace" name="grace" size="4" min="0" value="{{ GRACE }}">&nbsp;{{ lang('GROUPSUB_DAYS') }}</dd>
		</dl>
	</fieldset>
	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}">
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
