#available_prefixes {
    padding: 10px;
    margin: 5px;
    background-color: #ecf1f3;
		display: grid;
		grid-template-columns: repeat(8, auto);
}

#available_prefixes span, #used_prefixes span {
	padding:5px;
	color:#000000;
}
#available_prefixes span {
	display:block;
}

.prefix_placeholder {
	background-color:#cadceb;
}

.prefix-dropdown {
	background-color:#cadceb;
	top:25px;
	color:#ffffff;
}

.prefix-dropdown .pointer {
	margin-top:-9px;
	border-color:transparent;
}

.prefix-dropdown .pointer .pointer-inner {
	border-color: #cadceb transparent;
}

.prefix-dropdown-toggle {
	border: #cadceb 1px solid;
	padding:1px;
	min-width:100px;
	min-height:15px;
}


.prefix-dropdown-toggle:after {
	content: '\25BC';
	display: inline-block;
	font-size: 9px;
	float: right;
	padding-top: 1px;
	padding-left: 2px;
	opacity: 0.7;
}

.prefix-dropdown-container {
	float:left;
}

/** In order for the prefix dropdown to actually show up
    next to the topic title field on the posting page
    instead of being hidden as if behind the posting buttons
**/
fieldset.fields1 dl {
	overflow: visible;
}

table.topic_filter {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}

table.topic_filter tr th {
	text-align: right;
	color: #105289;
	margin: 5px 10px 5px 10px;
	font-size: 1.4em;
}

table.topic_filter tr td ul li {
	display: inline-block;
	margin: 2px 10px;
	font-size: 1.4em;
}

table.topic_filter tr td ul li a {
	text-decoration: none;
	color: #536482;
	padding: 3px;
}

table.topic_filter tr td ul li a.selected {
	border-bottom: 3px solid #0076B1;
}

span.prefix-item-click-area {
	cursor: pointer;
}