{% include 'overall_header.html' %}

<a id="maincontent"></a>
<h1>{{ lang('ACP_TOWANG_ADVANCEDBBOCDE_TITLE') }}</h1>
<p>{{ lang('ACP_TOWANG_ADVANCEDBBOCDE_EXPLAIN') }}</p>

<form id="TOWANG_ADVANCEDBBOCDE" method="POST" action="{{ U_ACTION }}" >
	<fieldset>
		<legend>{{ lang('ACP_TOWANG_ADVANCEDBBOCDE_TITLE') }}</legend>

		<dl>
			<dt><label for="checkin_topic_id">{{ lang('S_CHECKIN_TOPIC_ID') ~ lang('COLON') }}</label><br><span>{{
					lang('S_CHECKIN_TOPIC_ID_EXPLAIN') }}</span></dt>
			<dd><input class="text" type="number" id="checkin_topic_id" name="checkin_topic_id" size="4" min="0"
					value="{{ CHECKIN_TOPIC_ID }}"></dd>
		</dl>

		<dl>
			<dt><label for="custom_css">{{ lang('CUSTOM_CSS') ~ lang('COLON') }}</label><br><span>{{ lang('CUSTOM_CSS_EXPLAIN') }}</span></dt>
			<dd><textarea name="custom_css" id="custom_css" rows="20">{{ CUSTOM_CSS }}</textarea></dd>
		</dl>
	</fieldset>

	<fieldset class="submit-buttons">
		<input class="button1" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}">
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}">
	</fieldset>
</form>

{% include 'overall_footer.html' %}
